Repository micronaut-projects/micronaut-data, pull requests merged in 2023-11, with the labels that each got.

#2587 Implement reactive MongoQueryExecutor
  data-document-model/src/main/java/io/micronaut/data/document/mongo/MongoAnnotations.java
  data-document-processor/src/main/java/io/micronaut/data/document/processor/matchers/MongoExecutorQueryMethodMatcher.java
  data-mongodb/src/main/java/io/micronaut/data/mongodb/repository/MongoReactiveQueryExecutor.java
  data-mongodb/src/test/groovy/io/micronaut/data/document/mongodb/reactive/MongoReactiveDocumentRepositorySpec.groovy
  data-mongodb/src/test/java/io/micronaut/data/document/mongodb/repositories/MongoReactiveExecutorPersonRepository.java
  src/main/docs/guide/mongo/mongoRepositories.adoc
Labels: type: enhancement

#2610 [data] Update common files for branch master
  .github/workflows/release.yml
  .gitignore
  MAINTAINING.md
  SECURITY.md
Labels: relates-to: build

#2650 Add links to clarify What's New 4.2.0 items.
  src/main/docs/guide/whatsNew.adoc
Labels: type: docs

#2665 Update docs for mongodb package-names
  src/main/docs/guide/mongo/mongoQuickStart.adoc
Labels: type: docs
